{
    "all": true,
    "include": [
      "src/**/*.js"
    ],
    "exclude": [
      "**/*.spec.js"
    ],
    "per-file": true,
    "branches": 100,
    "lines": 100,
    "functions": 100,
    "statements": 100
  }
